.app-header {
    background-color: var(--dynamic-background);
    max-height: 48px;
    padding: 8px;
    border-bottom: 1px solid;
    border-bottom-color: var(--dynamic-text-transparent);


    & .logo-inside-head {
        margin-top: 5px;
        margin-right: 11px;

        & a {
            margin-top: 4px;
            width: max-content;
        }

        & img {
            width: 17px;
            margin-right: 4px;
        }


        & h3 {
            font-family: 'charlie-display';
            color: #253858;
            font-size: rem(19px);
            font-weight: bolder;
        }
    }

    & .main-nav-btn {
        background-color: transparent;
        color: var(--dynamic-txt-clr);
        height: 32px;
        line-height: 32px;
        margin-right: 4px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        white-space: normal;
        border: none;
        font-weight: 500;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;

        &:hover {
            background-color: #091E4224;
        }

        & .arrow-down {
            min-width: 16px;
            margin-left: 4px;
            display: inline-block;
            line-height: 1;

            & span {
                @include svg-container
            }

        }
    }

    & .more-btn {
        padding: 8px 10px 0 6px;
    }

    & .top-header-btn {
        height: rem(32px);
        width: rem(32px);
        border-radius: 50%;
        padding: 0;
        margin-right: 4px;
        background-color: transparent;

        &:hover {
            background-color: var(--header-button-hovered);
        }
    }

    & .btn-right-head-container {
        color: #fff;
    }

    & .input-container {
        position: relative;

        & .svg-search {
            position: absolute;
            top: 8px;
            left: 8px;
            color: #fff;

            & span {
                @include svg-container(16px, 16px)
            }
        }

        & .search-input {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: 0 rem(12px) 0 rem(30px);
            z-index: 1;
            margin: 0 4px 0 4px;
            color: #fff;

            &::placeholder {
                color: #fff;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.4);

            }
        }
    }


}

.app-header-home {
    background-color: white;
    border-bottom-color: hsla(218, 54%, 19.6%, 0.16);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;

    & .logo {



        width: 22px;
        margin-top: 27px;
        margin-left: 17px;
        display: flex;
        gap: 5px;

        & h2 {
            font-family: 'charlie-display';
            color: #253858;
            font-size: 2rem;
            font-weight: bolder;
        }
    }

    & section {
        -webkit-box-align: stretch;
        align-items: stretch;
        display: flex;
        height: 60px;
        margin: 0px auto;
        max-width: 1320px;
    }

    & nav {
        // -webkit-box-align: stretch;
        // align-items: stretch;
        display: flex;
        height: 100%;
        // margin-left: auto;
    }

    & .a-right {
        background-color: rgb(0, 101, 255);
        color: rgb(255, 255, 255);
        -webkit-box-align: center;
        align-items: center;
        align-self: stretch;
        display: flex;
        font-size: 1.2rem;
        height: 100%;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
    }

    & .login-home-header {
        background-color: #fff;
        color: rgb(23, 43, 77);
    }

}