.board-list-container {

    & ul {
        list-style: none;
        flex-wrap: wrap;
        margin-top: rem(24px);
    }

    & .new-board{
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover{
            cursor: pointer;
            background-color: #091e4224;
        }

        color: #172B4D;
        background-color: #091E420F;
        text-align: center;
        
    }
}