.board-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, max-content) 1fr repeat(6, max-content);
    padding: rem(12px) rem(10px) rem(12px) rem(16px);
    background-color: $board-header-bgc;
    backdrop-filter: blur(4px);
    color: $txt-white-color;
    z-index: 100;
    grid-area: head;

    .board-title {
        font-size: rem(18px);
        padding: 0 rem(10px);
        display: flex;
        align-items: center;
    }

    .board-star {
        margin-inline: 3.5px;

        &:hover {
            transform: scale(1.2);
        }
    }

    button {
        @include reg-btn($padding: 6px);
        grid-auto-flow: column;
        border-radius: rem(3px);

        &:hover {
            background-color: var(--dynamic-button-hovered);
        }

        &:active {
            background-color: var(--dynamic-button-pressed);
        }

        &.active {
            background-color: var(--dynamic-button-highlighted);
            color: var(--dynamic-button-highlighted-text);

            &:hover {
                background-color: var(--dynamic-button-highlighted-hovered);
            }
        }

        
    }

    .btn2 {
        gap: rem(6px);
        width: fit-content;
        padding-inline: rem(12px);
        margin-inline-end: rem(4px);
    }

    .visibility {
        display: flex;
        gap: rem(8px);
    }

    .costume-view {
        .svg-container {
            @include svg-container(20px)
        }
    }

    .svg-container {
        @include svg-container
    }

    .sep {
        border-left: 1px solid var(--dynamic-text-transparent);
        height: 16px;
        margin: 8px 4px 8px 4px;
        display: inherit;
    }

    .users-avatars {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        margin-inline: rem(2px) rem(8px);

        
        .avatar {   
            border-radius: 50%;

            img, .initials {
                position: relative;
                border-radius: 50%;
                height: rem(28px);
                width: rem(28px);
                background-color: transparent;
                display: grid;
                place-items: center;
                font-size: 12px;
       
            }
            &:hover {
                opacity: 70%;
            }

        }
        button.more {
            height: rem(28px);
            width: rem(28px);
            font-size: rem(12px);
            border-radius: 50%;
            
        }
    }
}