.dynamic-cmp {
    position: fixed;
    width: rem(304px);
    // for dev
    inset: 92px auto auto 308.8px;
    background-color: white;
    border-radius: rem(8px);
    box-shadow: var(--ds-shadow-overlay, 0px 8px 12px #091e4226, 0px 0px 1px #091e424f);

    & .dynamic-head-container {
        padding: 4px 8px;
        position: relative;
        text-align: center;
        display: grid;
        align-items: center;
        grid-template-columns: 32px 1fr 32px;

        & h2 {
            color: #44546f;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            display: block;
            position: relative;
            height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1 / span 3;
            grid-row: 1;
        }

    }

    & .picker-container {
        padding: 0 12px 12px 12px;

        & input {
            width: 100%;
            border: 2px solid rgba(9, 30, 66, 0.137254902);
            border-radius: 2px;
            padding: 6px 12px;
            line-height: 20px;

            &:focus {
                outline: none !important;
                border-color: #719ECE;
            }
        }

        & p {
            margin-top: rem(12px);
            margin-bottom: rem(8px);
            font-size: rem(12px);
            font-weight: 600;
        }

       & .ul-labels{
        padding: 8px 4px;
       }

        & .checkbox {
            height: 16px;
            width: 16px;
        }

        & .label-picker {
            width: rem(212px);
            height: rem(32px);
            padding: 0 rem(12px);
            // text-align: center;
            line-height: rem(32px);
            border-radius: rem(3px);
            margin-left: rem(12px);
        }

        & .edit-label {
            width: rem(32px);
            height: rem(32px);
            padding: rem(8px);
            background-color: transparent;
            border: none;
            border-radius: rem(3px);
            margin-left: 4px;

            &:hover {
                background-color: rgba(9, 30, 66, 0.137254902);
            }
        }

        & .labels-btn{
            margin: 4px 0;
            width: 100%;
            text-size-adjust: 100%;
        }

        & .between-btn{
            margin: 8px 0 ;
           background-color:  #091e422f;
           height: 1px;
           border: none;
        }
    }
}