.dynamic-cmp {
    position: fixed;
    width: rem(304px);
    // for dev
    inset: 92px auto auto 308.8px;
    background-color: white;

    & .dynamic-head-container {
        padding: 4px 8px;
        position: relative;
        text-align: center;
        display: grid;
        align-items: center;
        grid-template-columns: 32px 1fr 32px;

        & h2 {
            color: #44546f;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.003em;
            line-height: 40px;
            display: block;
            position: relative;
            height: 40px;
            margin: 0;
            overflow: hidden;
            padding: 0 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            grid-column: 1 / span 3;
            grid-row: 1;
        }
    }
}