.task-details-backdrop {
    background-color: #000000bf;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.task-details {
    border-radius: rem(12px);
    margin: rem(48px) auto;
    // position: absolute;
    background-color: #F1F2F4;
    width: rem(768px);
    display: grid;
    grid-template-areas:
        "cover cover"
        "title title"
        "data actions"
        "desc actions"
        "attach actions"
        "checklist actions"
    ;
    grid-template-columns: 1fr max-content;
    position: fixed;
    color: #172b4d;

    .close-btn {
        position: absolute;
        right: rem(8px);
        top: rem(8px);
        border-radius: 50%;
        width: rem(40px);
        height: rem(40px);
        padding: rem(6px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: none;

        &:hover {
            background-color: var(--dynamic-button-hovered, #091E4224);
        }

        span {
            @include svg-container(24px, 24px)
        }
    }

    h3 {
        font-size: rem(12px);
        line-height: rem(20px);
        font-weight: normal;
    }

    .cover {
        grid-area: cover;
        border-start-end-radius: rem(12px);
        border-start-start-radius: rem(12px);
        height: rem(116px);
        background-color: goldenrod;
    }

    .icon-span {
        position: absolute;


    }

    .title {

        grid-area: title;
        min-height: rem(32px);
        height: rem(89px);
        position: relative;
        padding: 8px 52px 8px 56px;

        .icon-span {
            // position: absolute;
            left: rem(15px);
            top: rem(15px);

            span {
                @include svg-container(17px, 18px);
            }

            padding: rem(8px);

        }


        div.title-txt {

            padding-top: rem(12px);

            h2,
            textarea {
                font-size: rem(20px);
                font-weight: 600;
                line-height: rem(24px);
                min-height: rem(24px);
                height: rem(37px);
                width: 100%;
            }

            textarea {
                background: none;
                // background: pink;
                border: none;
                border-radius: rem(4px);
                color: inherit;
                margin: rem(-6px) rem(-10px);
                padding: rem(6px) rem(10px);
                resize: none;
                display: block;
                outline: none;
                transition-duration: 85ms;
                transition-property: background-color, border-color, box-shadow;
                transition-timing-function: ease;
                overflow: hidden;
                overflow-wrap: break-word;
            }
        }

        div.list-txt {
            display: flex;
            align-items: center;
            gap: rem(15px);

            p {
                margin: rem(4px) rem(8px) rem(4px) rem(2px);
                display: inline-block;

                a {
                    text-decoration: underline;
                }

            }

            span {
                @include svg-container;
                align-self: start;
                margin-top: rem(6px);
            }
        }


    }

    .data {
        grid-area: data;
        padding: 8px 52px 8px 57px;
        display: flex;
        gap: rem(16px);
        margin-bottom: 3px;

        h3 {
            margin-bottom: rem(4px);
        }

        & :not(h3) {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
        }

        .members {
            display: inline-block;

            div {
                display: inline-flex;
                margin-left: rem(-0.5px);
                gap: rem(4px);

                button {
                    padding: rem(6px) rem(8px);

                    span {
                        margin-top: rem(2px);
                        @include svg-container
                    }
                }
            }
        }

        .labels {
            display: inline-block;

            h3 {
                margin-left: rem(1px);
            }

            div {
                margin-left: rem(-0.5px);

                display: inline-flex;
                gap: rem(4px);

                .label {
                    height: rem(32px);
                    // background-color: green;
                    border-radius: rem(3px);
                    display: inline-flex;
                    align-items: center;

                    &:not(button) {
                        padding-inline: rem(12px);
                    }
                }

                button {
                    padding: rem(8px);

                    span {
                        @include svg-container
                    }
                }
            }
        }

        .due-date {
            div {
                display: inline-flex;
                align-items: center;

                span {
                    @include svg-container
                }

                .box {
                    display: inline-block;
                    background-color: #fff;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 2px #091e4224;
                    flex-shrink: 0;
                    margin: 0 4px 0 0;
                    overflow: hidden;
                    position: relative;
                    transition: all .2s ease-in-out;
                    white-space: nowrap;

                }

                button {
                    display: inline-flex;
                    align-items: center;
                    height: rem(32px);
                    // background-color: green;
                    border-radius: rem(3px);
                    padding: rem(8px) rem(12px);

                    span {
                        margin-left: rem(4px);
                    }

                }
            }

        }
    }

    .description {
        // background-color: coral;
        position: relative;
        grid-area: desc;

        .icon-span {
            left: rem(12px);
            top: rem(4px);

            span {
                @include svg-container(24px, 24px);
            }

            padding: rem(8px);

        }

        &>*:not(.icon-span) {

            margin-inline-start: rem(56px);
        }

        &>h3 {
            font-size: rem(16px);
            line-height: rem(20px);
            font-weight: 600;
            margin-top: rem(14px);
        }
    }

    .actions {
        border-end-end-radius: rem(12px);
        width: rem(192px);
        grid-area: actions;
        // background-color: palevioletred;
        padding: 0 rem(16px) rem(8px) rem(9px);

        h3 {
            margin-bottom: rem(4px);
        }

        a {
            display: flex;
            gap: 8px;
            border-radius: rem(3px);
            background-color: #091e420f;
            height: rem(32px);
            font-weight: 500;
            padding: rem(6px) rem(7px);
            margin-bottom: rem(8px);

            span {
                @include svg-container
            }
        }
    }
}