* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}


body {
    font-size: rem(14px);
    line-height: rem(20px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: rem(14px);
}

img {
    max-width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}