// // Font Sizes
// .fs12 { font-size: rem(12px); }
// .fs14 { font-size: rem(14px); }
// .fs18 { font-size: rem(18px); }
// .fs20 { font-size: rem(20px); }
// .fs24 { font-size: rem(24px); }
// .fs28 { font-size: rem(28px); }
// .fs30 { font-size: rem(30px); }

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-start {
        justify-content: start;
    }

    &.align-center {
        align-items: center;
    }
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.svg-container {
    display: inline-block;
    width: rem(16px);
    height: rem(16px);

    svg {
        max-width: 100%;
        max-height: 100%
    }
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.tasks-btn{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #44546f;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    background-color: #091E420F;
    border: none;

    &:hover{
        background-color: #091E4224;
    }

}