.board-index {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr max-content 1fr;
    height: 100%;


    & main {
        grid-column: 2;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: rem(288px) rem(825px);

        & .all-boards {
            margin: rem(19px) rem(16px) 0;
            // max-width: 825px;
            width: 100%;
        }
    }
}