.board-list-container {
    margin-block-start: rem(33px);
    
    @include for-mobile-layout {
        margin-block-start: rem(16px);
    }

    &>h3 {
        font-size: rem(16px);
        color: var(--ds-text);
        @include for-mobile-layout {
            margin-inline-start: 10vw;
        }
        & span {
            @include svg-container(24px);
            margin-right: rem(8px);
        }
    }

    & ul.board-list {
        list-style: none;
        flex-wrap: wrap;
        margin-bottom: rem(50px);
        gap: rem(16px);
        @include for-mobile-layout {
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin-bottom: rem(32px);
        }

    }

    & .new-board {
        display: flex;
        justify-content: center;
        align-items: center;


        &:hover {
            cursor: pointer;
            background-color: #091e4224;
        }

        color: var(--ds-text, #172b4d);
        background-color: #091E420F;
        text-align: center;

    }
}

