.side-bar-btn {
    padding: 0;
    display: flex;
    grid-area: sidebar;
    background-color: var(--dynamic-background-transparent);
    width: rem(16px);
    border: none;
    z-index: 100;
    border-inline-end: 1px solid var(--dynamic-text-transparent);

    .open-sidebar-btn {
        padding: 0;
        background-color: inherit;
        border: 1px solid var(--dynamic-text-transparent);
        border-radius: 50%;
        margin: 15px 0 0 3px;
        height: rem(26px);
        width: rem(26px);
        backdrop-filter: blur(16px);

        .svg-container {
            @include svg-container(24px);
        }
    }

    &:hover {
        background-color: var(--dynamic-background);

        .open-sidebar-btn {
            background-color: #ffffff4d;
        }
    }

}