.board-header {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, max-content) 1fr repeat(5, max-content);
    padding: rem(12px) rem(10px) rem(12px) rem(16px);
    background-color: $board-header-bgc;
    backdrop-filter: blur(4px);
    color: $txt-white-color;
    z-index: 100;
    grid-area: head;
    transition: margin 0.35s;

    & .board-title {
        font-size: rem(18px);
        padding: 0 rem(10px);
        display: flex;
        align-items: center;

    }

    & input.board-title {
        background-color: transparent;
        border: none;
        border: 0;
        font-weight: bold;
        font-size: rem(18px);
        height: rem(32px);
        margin: 0;
        padding: 0 rem(10px);
        border-radius: rem(3px);
        outline: none;
        color: white;
        min-width: rem(32px);
        // width: max-content;
        transition-duration: 85ms;
        transition-property: background-color, border-color, box-shadow;
        transition-timing-function: ease;

        &:focus {
            color: var(--ds-text, #172b4d);
            background-color: var(--ds-background-input, #ffffff);
            box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
        }
    }

    & .board-star {
        margin-inline: 3.5px;

        &:hover {
            transform: scale(1.2);
        }
    }

    button {
        @include reg-btn($padding: 6px);
        grid-auto-flow: column;
        border-radius: rem(3px);

        &:hover {
            background-color: var(--dynamic-button-hovered);
        }

        &:active {
            background-color: var(--dynamic-button-pressed);
        }

        &.active {
            background-color: var(--dynamic-button-highlighted);
            color: var(--dynamic-button-highlighted-text);

            &:hover {
                background-color: var(--dynamic-button-highlighted-hovered);
            }
        }


    }

    .btn2 {
        gap: rem(6px);
        width: fit-content;
        padding-inline: rem(12px);
        margin-inline-end: rem(4px);
    }

    .visibility {
        display: flex;
        gap: rem(8px);
    }

    .costume-view {
        .svg-container {
            @include svg-container(20px)
        }
    }

    .svg-container {
        @include svg-container
    }

    .sep {
        border-left: 1px solid var(--dynamic-text-transparent);
        height: 16px;
        margin: 8px 4px 8px 4px;
        display: inherit;
    }

    .users-avatars {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-inline: rem(2px) rem(8px);

        .avatar {
            @include avatar(28px);
            margin-inline-end: -3px;
        }

        button.more {
            height: rem(28px);
            width: rem(28px);
            font-size: rem(12px);
            border-radius: 50%;

        }
    }
    & .input-container {
        position: relative;

        & .svg-search {
            position: absolute;
            top: 8px;
            left: 8px;
            color: #fff;
            

            & span {
                @include svg-container(16px, 16px)
            }
        }

        & .search-input {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: 0 rem(12px) 0 rem(30px);
            z-index: 1;
            margin: 0 4px 0 4px;
            color: #fff;

            &::placeholder {
                color: #fff;
            }

            &:focus{
                outline: white;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.4);

            }
        }
    }
}