.main-content {
    flex: 1;
    overflow: hidden;

    .board-details {
        position: relative;
        height: 100%;
        width: 100%;
        background-position-y: 50%;
        background-size: cover;
        background-repeat: no-repeat;

        display: grid;
        grid-template-areas:
            "sidebar head rsb"
            "sidebar body rsb";

        grid-template-rows: max-content 1fr max-content;
        grid-template-columns: max-content 1fr max-content;

        &::after {
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            position: absolute;
            background: rgba(0, 0, 0, 0.144);
        }

        
        
        &.rsb-open {
            .board-header {
                margin-inline-end: rem(339px);
            }

            .board-right-sidebar {
                transform: translateX(0);
            }
        }
    }
}