// @font-face {
//     // font-family: caveat;
//     // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// }
@font-face {
    font-family: charlie-display;
    src: url(/src/assets/font/CharlieDisplay-Semibold-7a296316.ttf);
}

@font-face {
    font-family: charlie-display;
    src: url(/src/assets/font/charlie-display.ttf);
    font-weight: bold;
}

@font-face {
    font-family: trell-icon;
    src: url(/src/assets/font/trellicons-regular.ttf);
}