.task-details-container {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}


.task-details-backdrop {
    background: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    width: 100vw;
    position: fixed;
    align-items: flex-start;
}

.task-details {
    border-radius: rem(12px);
    margin: rem(48px) 0;
    background-color: #F1F2F4;
    width: rem(768px);
    min-height: rem(600px);
    display: grid;
    grid-template-areas:
        "cover       cover cover"
        "title-icon  title title"
        ".           data actions"
        "desc-icon   desc actions"
        "attach-icon attach actions"
        "checklist  checklist actions"
        "activity-icon   activity-heading  actions"
        "activity       activity  actions"
    ;
    grid-template-columns: rem(56px) 1fr max-content;
    grid-template-rows: repeat(7, max-content);
    position: relative;

    color: #172b4d;
    padding-block-end: rem(16px);

    @include for-mobile-layout {
        grid-template-areas:
            "cover          cover"
            "title-icon     title"
            "actions        actions"
            "data           data"
            "desc-icon      desc"
            "attach-icon    attach"
            "checklist      checklist"
            "activity-icon  activity-heading"
            "activity       activity"
        ;

        & section {
            padding-inline-end: rem(16px);

        }
    }


    .details-close-btn {
        position: absolute;
        right: rem(8px);
        top: rem(8px);
        border-radius: 50%;
        width: rem(40px);
        height: rem(40px);
        padding: rem(6px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: none;
        z-index: 1;

        &:hover {
            background: #091E4224;
        }

        span {
            @include svg-container(24px, 24px)
        }
    }

    h3 {
        font-size: rem(12px);
        line-height: rem(20px);
        font-weight: normal;
    }

    .cover {
        grid-area: cover;
        border-start-end-radius: rem(12px);
        border-start-start-radius: rem(12px);
        min-height: rem(116px);
        background-color: var(--accent-background);
        color: var(--accent-text-bolder, inherit);
        position: relative;
        display: grid;

        & .cover-img {
            height: rem(160px);
            place-self: center;
        }

        a {
            display: inline-flex;
            align-items: center;
            gap: rem(5px);
            margin: 0;
            padding: 0;
            position: absolute;
            right: rem(24px);
            bottom: rem(18px);

            & span {
                @include svg-container
            }
        }
    }

    .icon-span {
        align-self: start;
        justify-self: center;
        margin-top: rem(4px);
        margin-inline-start: rem(8px);
        color: var(--ds-icon, #44546f);

        span {
            @include svg-container(24px, 24px);
        }

        padding: rem(8px);
    }

    .title-icon {
        grid-area: title-icon;
        margin-top: rem(12px);
    }

    .desc-icon {
        grid-area: desc-icon;
    }

    .title {

        grid-area: title;
        min-height: rem(32px);
        height: rem(89px);
        position: relative;
        padding-block: rem(8px);


        div.title-txt {

            padding-top: rem(12px);

            h2,
            textarea {
                font-size: rem(20px);
                font-weight: 600;
                line-height: rem(24px);
                min-height: rem(24px);
                height: rem(37px);
                width: 100%;
            }

            textarea {
                background: none;
                // background: pink;
                border: none;
                border-radius: rem(4px);
                color: inherit;
                margin: rem(-6px) rem(-10px);
                padding: rem(6px) rem(10px);
                resize: none;
                display: block;
                outline: none;
                transition-duration: 85ms;
                transition-property: background-color, border-color, box-shadow;
                transition-timing-function: ease;
                overflow: hidden;
                overflow-wrap: break-word;

                &:focus {
                    background-color: #fff;
                    box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
                }
            }
        }

        div.list-txt {
            display: flex;
            align-items: center;
            gap: rem(15px);

            p {
                margin: rem(4px) rem(8px) rem(4px) rem(2px);
                display: inline-block;

                a {
                    text-decoration: underline;
                }

            }

            span {
                @include svg-container;
                align-self: start;
                margin-top: rem(6px);
            }
        }


    }

    .data {
        grid-area: data;
        // padding-inline: rem(8px);
        align-self: end;
        display: flex;
        flex-wrap: wrap;
        gap: rem(16px);
        margin-bottom: 3px;
        padding-block: rem(8px);

        @include for-mobile-layout {
            margin-inline: rem(20px);
        }

        h3 {
            margin-bottom: rem(4px);
            color: var(--ds-text-subtle, #44546f);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;
        }

        & :not(h3) {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
        }

        .members {
            display: inline-block;

            div {
                display: inline-flex;
                margin-left: rem(-0.5px);
                gap: rem(4px);

                .avatar {
                    border-radius: 50%;
                    width: rem(32px);
                    height: rem(32px);
                    border: none;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    background-color: #091e420f;
                    @include avatar(32px);
                }

                button {
                    padding: rem(6px) rem(8px);

                    span {
                        color: #172b4d;
                        margin-top: rem(4px);
                        @include svg-container
                    }

                    &:hover {
                        background-color: var(--accent-background-hovered);
                    }

                    &:active {
                        background-color: var(--accent-background-pressed);
                    }
                }
            }

        }

        .labels {
            display: inline-block;

            h3 {
                margin-left: rem(1px);
            }

            div {
                margin-left: rem(-0.5px);

                display: inline-flex;
                flex-wrap: wrap;
                gap: rem(4px);

                .label {
                    height: rem(32px);
                    background-color: var(--accent-background);
                    border-radius: rem(3px);
                    display: inline-flex;
                    align-items: center;
                    color: var(--accent-text);

                    &:hover {
                        background-color: var(--accent-background-hovered);
                    }

                    &:active {
                        background-color: var(--accent-background-pressed);
                    }

                    &:not(button) {
                        padding-inline: rem(12px);
                    }
                }

                button {
                    padding: rem(8px);

                    span {
                        @include svg-container
                    }
                }
            }
        }

        .due-date {
            div {
                display: inline-flex;
                align-items: center;

                & span:not(.due) {
                    @include svg-container
                }

                .box {
                    display: inline-block;
                    background-color: #fff;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 2px #091e4224;
                    flex-shrink: 0;
                    margin: 0 4px 0 0;
                    overflow: hidden;
                    position: relative;
                    transition: all .2s ease-in-out;
                    white-space: nowrap;

                }

                button {
                    display: inline-flex;
                    align-items: center;
                    height: rem(32px);
                    // background-color: green;
                    border-radius: rem(3px);
                    padding: rem(8px) rem(12px);

                    span {
                        margin-left: rem(4px);
                    }

                }

                & .due {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 0 4px;
                    border-radius: 2px;
                    margin: auto 0 auto 8px;
                    font-weight: 500;
                    border-radius: 3px;

                    &.soon {
                        background-color: var(--ds-background-warning-bold, #e2b203)
                    }

                    &.over {
                        color: var(--ds-text-inverse, #ffffff);
                        background-color: var(--ds-background-danger-bold, #ca3521);
                    }

                    &.done {
                        color: var(--ds-text-inverse, #ffffff);
                        background-color: var(--ds-background-success-bold, #1f845a);
                    }
                }
            }

        }
    }

    .description {
        grid-area: desc;
        padding-block: rem(14px);

        .icon-span {

            span {
                @include svg-container(24px, 24px);
            }

            padding: rem(8px);

        }

        &>h3 {
            font-size: rem(16px);
            line-height: rem(20px);
            font-weight: 600;
            // margin-top: rem(14px);
        }

        & .task-description .desc-content {
            margin-block-start: rem(18px);
            min-height: rem(56px);
            border-radius: rem(3px);
            font-weight: 500;
            padding-inline: 0;

            &.empty {
                padding: rem(8px) rem(12px);

                background-color: var(--ds-background-neutral, #091e420f);
            }
        }
    }

    .attach-icon {
        grid-area: attach-icon;
    }

    .attachments {
        grid-area: attach;

        & h3 {
            margin-block: rem(14px);
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
        }

        & .attach-details {

            &:hover {
                background-color: #091E4224;
            }

            margin-block-end: rem(8px);
            padding-block: rem(2px);
            display: grid;
            grid-template-columns: rem(112px) 1fr;
            grid-template-rows: max-content 1fr;
            column-gap: rem(16px);
            word-wrap: break-word;
            border-radius: rem(3px);

            & div.download {
                margin-block-start: rem(4px);

            }

            & .fileName {
                font-weight: 700;

                & .rightup {
                    @include svg-container
                }
            }

            & .deleteAttach {
                text-decoration: underline;
            }

            & .attach_img {
                grid-column: 1;
                grid-row: 1/-1;

                display: flex;
                align-items: center;
                justify-content: center;

                height: rem(80px);
                width: rem(112px);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: rem(3px);
                background-color: var(--ds-background-neutral, #091e420f);
                color: var(--ds-text-subtle, #44546f);
                font-size: rem(22px);
                font-weight: 650;
                letter-spacing: 1px;
            }
        }
    }

    .activity-icon {
        grid-area: activity-icon;

        span {
            margin-inline-start: rem(1px);
            @include svg-container(17px, 19px);
        }
    }

    .activity-heading {
        grid-area: activity-heading;

        & h3 {
            margin-block-start: rem(11px);
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
            margin-block-end: rem(10px);
        }
    }

    &>.activity {
        grid-area: activity;
        margin-inline-start: rem(16px);

        & .activities-container {
            margin-right: 0;

            & .activity-container {
                grid-template-columns: max-content 1fr;
                align-items: center;

                & .activity {
                    margin-inline-start: rem(8px);
                }
            }
        }

    }

    .actions {
        border-end-end-radius: rem(12px);
        width: rem(192px);
        grid-area: actions;
        padding-inline: rem(8px) rem(16px);
        position: relative;

        @include for-mobile-layout {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: rem(8px);
            padding-inline-end: rem(8px);
            // justify-content: space-between;
        }

        h3 {
            margin-bottom: rem(4px);
            color: var(--ds-text-subtle, #44546f);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;

            @include for-mobile-layout {
                display: none;
            }
        }

        &>a {
            display: flex;
            gap: 8px;
            border-radius: rem(3px);
            background-color: #091e420f;
            height: rem(32px);
            font-weight: 500;
            padding: rem(6px) rem(7px);
            margin-bottom: rem(8px);

            @include for-mobile-layout {
                flex-grow: 1;
                justify-content: center;
            }

            span {
                @include svg-container;

            }

            &:hover {
                background-color: #091E4224;
            }
        }
    }
}