.task-details-backdrop {
    background-color: #000000bf;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.task-details {
    border-radius: rem(12px);
    margin: rem(48px) 0;
    // position: absolute;
    // padding-inline: rem(16px);
    background-color: #F1F2F4;
    width: rem(768px);
    min-height: rem(600px);
    display: grid;
    grid-template-areas:
        "cover       cover cover"
        "title-icon  title title"
        ".           data actions"
        "desc-icon   desc actions"
        "attach-icon attach actions"
        "checklist  checklist actions"
    ;
    grid-template-columns: rem(56px) 1fr max-content;
    grid-template-rows: repeat(6, max-content);
    position: fixed;
    left: calc(50% - 0.5 * rem(768px));
    color: #172b4d;

    .details-close-btn {
        position: absolute;
        right: rem(8px);
        top: rem(8px);
        border-radius: 50%;
        width: rem(40px);
        height: rem(40px);
        padding: rem(6px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: none;
        z-index: 1;

        &:hover {
            background: #091E4224;
        }

        span {
            @include svg-container(24px, 24px)
        }
    }

    h3 {
        font-size: rem(12px);
        line-height: rem(20px);
        font-weight: normal;
    }

    .cover {
        grid-area: cover;
        border-start-end-radius: rem(12px);
        border-start-start-radius: rem(12px);
        height: rem(116px);
        background-color: var(--ds-background-accent-yellow-subtle, #e2b203);
        color: var(--ds-text-accent-yellow-bolder, #533f04);
        position: relative;

        a {
            display: inline-flex;
            align-items: center;
            gap: rem(5px);
            margin: 0;
            padding: 0;
            position: absolute;
            right: rem(24px);
            bottom: rem(18px);

            & span {
                @include svg-container
            }
        }
    }

    .icon-span {
        align-self: start;
        justify-self: center;
        margin-top: rem(4px);
        margin-inline-start: rem(8px);

        span {
            @include svg-container(24px, 24px);
        }

        padding: rem(8px);
    }

    .title-icon {
        grid-area: title-icon;
        margin-top: rem(16px);

        span {
            @include svg-container(17px, 18px);
        }
    }

    .desc-icon {
        grid-area: desc-icon;
    }

    .title {

        grid-area: title;
        min-height: rem(32px);
        height: rem(89px);
        position: relative;
        padding-block: rem(8px);


        div.title-txt {

            padding-top: rem(12px);

            h2,
            textarea {
                font-size: rem(20px);
                font-weight: 600;
                line-height: rem(24px);
                min-height: rem(24px);
                height: rem(37px);
                width: 100%;
            }

            textarea {
                background: none;
                // background: pink;
                border: none;
                border-radius: rem(4px);
                color: inherit;
                margin: rem(-6px) rem(-10px);
                padding: rem(6px) rem(10px);
                resize: none;
                display: block;
                outline: none;
                transition-duration: 85ms;
                transition-property: background-color, border-color, box-shadow;
                transition-timing-function: ease;
                overflow: hidden;
                overflow-wrap: break-word;

                &:focus {
                    background-color: #fff;
                    box-shadow: inset 0 0 0 2px var(--ds-border-focused, #388bff);
                }
            }
        }

        div.list-txt {
            display: flex;
            align-items: center;
            gap: rem(15px);

            p {
                margin: rem(4px) rem(8px) rem(4px) rem(2px);
                display: inline-block;

                a {
                    text-decoration: underline;
                }

            }

            span {
                @include svg-container;
                align-self: start;
                margin-top: rem(6px);
            }
        }


    }

    .data {
        grid-area: data;
        // padding-inline: rem(8px);
        align-self: end;
        display: flex;
        flex-wrap: wrap;
        gap: rem(16px);
        margin-bottom: 3px;
        padding-block: rem(8px);

        h3 {
            margin-bottom: rem(4px);
            color: var(--ds-text-subtle, #44546f);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;
        }

        & :not(h3) {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
        }

        .members {
            display: inline-block;

            div {
                display: inline-flex;
                margin-left: rem(-0.5px);
                gap: rem(4px);

                .avatar {
                    border-radius: 50%;
                    width: rem(32px);
                    height: rem(32px);
                    border: none;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
                    background-color: #091e420f;
                    @include avatar(32px);
                }

                button {
                    padding: rem(6px) rem(8px);

                    span {
                        color: #172b4d;
                        margin-top: rem(4px);
                        @include svg-container
                    }

                    &:hover {
                        background-color: var(--accent-background-hovered);
                    }

                    &:active {
                        background-color: var(--accent-background-pressed);
                    }
                }
            }

        }

        .labels {
            display: inline-block;

            h3 {
                margin-left: rem(1px);
            }

            div {
                margin-left: rem(-0.5px);

                display: inline-flex;
                flex-wrap: wrap;
                gap: rem(4px);

                .label {
                    height: rem(32px);
                    background-color: var(--accent-background);
                    border-radius: rem(3px);
                    display: inline-flex;
                    align-items: center;
                    color: var(--accent-text);

                    &:hover {
                        background-color: var(--accent-background-hovered);
                    }

                    &:active {
                        background-color: var(--accent-background-pressed);
                    }

                    &:not(button) {
                        padding-inline: rem(12px);
                    }
                }

                button {
                    padding: rem(8px);

                    span {
                        @include svg-container
                    }
                }
            }
        }

        .due-date {
            div {
                display: inline-flex;
                align-items: center;

                & span:not(.due) {
                    @include svg-container
                }

                .box {
                    display: inline-block;
                    background-color: #fff;
                    border-radius: 2px;
                    box-shadow: inset 0 0 0 2px #091e4224;
                    flex-shrink: 0;
                    margin: 0 4px 0 0;
                    overflow: hidden;
                    position: relative;
                    transition: all .2s ease-in-out;
                    white-space: nowrap;

                }

                button {
                    display: inline-flex;
                    align-items: center;
                    height: rem(32px);
                    // background-color: green;
                    border-radius: rem(3px);
                    padding: rem(8px) rem(12px);

                    span {
                        margin-left: rem(4px);
                    }

                }

                & .due {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 0 4px;
                    border-radius: 2px;
                    margin: auto 0 auto 8px;
                    font-weight: 500;
                    border-radius: 3px;

                    &.soon {
                        background-color: var(--ds-background-warning-bold, #e2b203)
                    }

                    &.over {
                        color: var(--ds-text-inverse, #ffffff);
                        background-color: var(--ds-background-danger-bold, #ca3521);
                    }

                    &.done {
                        color: var(--ds-text-inverse, #ffffff);
                        background-color: var(--ds-background-success-bold, #1f845a);
                    }
                }
            }

        }
    }

    .description {
        grid-area: desc;
        padding-block: rem(14px);

        .icon-span {

            span {
                @include svg-container(24px, 24px);
            }

            padding: rem(8px);

        }

        &>h3 {
            font-size: rem(16px);
            line-height: rem(20px);
            font-weight: 600;
            // margin-top: rem(14px);
        }

        & .task-description .desc-content {
            margin-block-start: rem(18px);
            min-height: rem(56px);
            border-radius: rem(3px);
            font-weight: 500;
            padding-inline: 0;

            &.empty {
                padding: rem(8px) rem(12px);

                background-color: var(--ds-background-neutral, #091e420f);
            }
        }
    }

    .actions {
        border-end-end-radius: rem(12px);
        width: rem(192px);
        grid-area: actions;
        padding-inline: rem(8px) rem(16px);
        position: relative;

        h3 {
            margin-bottom: rem(4px);
            color: var(--ds-text-subtle, #44546f);
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;
        }

        a {
            display: flex;
            gap: 8px;
            border-radius: rem(3px);
            background-color: #091e420f;
            height: rem(32px);
            font-weight: 500;
            padding: rem(6px) rem(7px);
            margin-bottom: rem(8px);

            span {
                @include svg-container
            }

            &:hover {
                background-color: #091E4224;
            }
        }
    }
}