.task-preview {
    position: relative;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: $border-radius;
    color: var(--ds-text);
   
    .content {
        padding: rem(8px) rem(12px) rem(4px);

    }
    &>* {
        display: block;
        margin-block-end: rem(8px);
    }

    // &:focus {
    //     outline: 2px solid -webkit-focus-ring-color;
    // }

    &:hover {
        outline: 2px solid -webkit-focus-ring-color;

        .edit-icon {
            opacity: 1;
        }
    }

    .edit-icon {
        opacity: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        border-radius: 50%;
        padding: rem(8px);
        height: rem(32px);

        &:hover {
            background-color: $task-edit-hover-bcg;
        }
    }

    .task-info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .task-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: rem(4px);
            font-size: rem(12px);
            color: $task-info-txt-clr;

            .icon-container {
                height: rem(24px);
                padding: rem(4px);
            }

            .txt-and-icon {
                display: flex;
                align-items: center;
                column-gap: rem(4px);
            }
        }
        
        .task-preview-avatars {
            display: flex;
            flex-wrap: wrap;
            gap: rem(4px);
            width: max-content;

            .avatar {
                @include avatar(24px)
            }
        }
    }

    .svg-container {
        @include svg-container;
        color: var(--ds-icon);
    }

    .labels {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 4px;
        margin-block-end: rem(4px);

        .label {
            border-radius: rem(4px);
            height: rem(16px);
            flex-grow: 0.1;
            flex-shrink: 1;
            line-height: rem(16px);
            font-size: rem(12px);
            padding: 0 rem(8px);

            display: inline-flex;

            background-color: var(--accent-background);
            color: var(--accent-text);
            &:hover {
                background-color: var(--accent-background-hovered);
            }
            transition: flex-grow 0.5s, height 0.5s, width 0.5s;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            & span{
                opacity: 1;
                transition: opacity 0s 0.5s;
            }
        }
        
        .label.collapsed {
            width: rem(40px);
            height: rem(8px);
            flex-grow: 0.001;
            & span{
                opacity: 0;
                transition: opacity 0s 0s;
            }
            // transition: width 0.5s, height 0.5s;
        }
    }
    .img-container {
        display: grid;
        place-items: center;
        margin-block-end: 0;
        img {
            border-top-right-radius: rem(8px);
            border-top-left-radius: rem(8px);
        }
    }
}