.task-preview {
    position: relative;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: $border-radius;
    color: var(--ds-text);
    
    .content {
        padding: rem(8px) rem(12px) rem(4px);

    }
    &>* {
        display: block;
        margin-block-end: rem(8px);
    }

    // &:focus {
    //     outline: 2px solid -webkit-focus-ring-color;
    // }

    &:hover {
        outline: 2px solid -webkit-focus-ring-color;

        .edit-icon {
            opacity: 1;
        }
    }

    .edit-icon {
        opacity: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        border-radius: 50%;
        padding: rem(8px);
        height: rem(32px);

        &:hover {
            background-color: $task-edit-hover-bcg;
        }
    }

    .task-info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .task-info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: rem(4px);
            font-size: rem(12px);
            color: $task-info-txt-clr;

            .icon-container {
                height: rem(24px);
                padding: rem(4px);
            }

            .txt-and-icon {
                display: flex;
                align-items: center;
                column-gap: rem(4px);
            }
        }
        
        .task-preview-avatars {
            display: flex;
            flex-wrap: wrap;
            gap: rem(4px);
            width: max-content;

            .avatar {
                @include avatar(24px)
            }
        }
    }

    .svg-container {
        @include svg-container;
        color: var(--ds-icon);
    }

    .labels {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-block-end: rem(4px);

        .label {
            border-radius: rem(4px);
            height: rem(16px);
            line-height: rem(16px);
            font-size: rem(12px);
            padding: 0 rem(8px);

            background-color: var(--accent-background);
            color: var(--accent-text);
        }
    }
}