.tasks-container {
   overflow-y: auto;
   scrollbar-color: var(--ds-background-neutral-hovered);
   scrollbar-width: thin;
   padding-inline: rem(8px);
   .task-list {
      display: flex;
      flex-direction: column;
      min-height: 1px;
      margin-block: 0.50rem 0.25rem;
      // width: rem(264px);
   }
}