.tasks-container {
   overflow-y: auto;
   scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
   scrollbar-width: thin;
   padding-inline: rem(8px) rem(4px);

   .task-list {
      display: flex;
      flex-direction: column;
      min-height: 1px;
      height: 100%;
      padding-block: 2px;

   }
}

.dragged-task {
   opacity: 0.6;
   rotate: 6deg;
   transform: rotate('6deg') ;
}