.group-preview {
    width: rem(272px);
    padding: rem(8px);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
    border-radius: $group-border-radius;
    background-color: var(--accent-background);
    color: var(--accent-text);
    // overflow:auto;
    scroll-margin: 8px;
    height: max-content;

    .group-header {
        display: grid;
        grid-template-columns: rem(192px) rem(32px) rem(32px);

        h2 {
            font-weight: 600;
            padding: rem(6px) rem(8px) rem(6px) rem(12px);
            color: var(--accent-text-bolder);
        }

        .collapse {
            padding: rem(4px);

            span {
                width: rem(24px);
                height: rem(24px);
            }
        }
    }

    // .tasks-container {
    //     overflow-x: hidden;
    //     overflow-y: scroll;
    //     scrollbar-color: var(--ds-background-neutral-hovered);
    //     scrollbar-width: thin;
        
    //     max-height: calc(100% - 80px);
    //     margin-block: rem(8px);
    // }

    .add {
        display: grid;
        grid-template-columns: rem(220px) rem(32px);
        gap: 4px;


        .add-task {
            display: flex;
            align-items: center;
            width: 100%;

            span {
                margin-inline-end: rem(8px);
            }
        }
    }

    button {
        @include reg-btn;

        &:hover {
            color: var(--accent-text-bolder);
            background-color: var(--accent-background-hovered);

            .svg-container {
                color: var(--accent-text-bolder);
            }
        }

        &:active {
            background-color: var(--accent-background-pressed);
        }
    }

    .title-edit {
        font-weight: 600;
        outline: none;
        border-radius: rem(8px);
        border: none;
        font-size: rem(14px);
        height: rem(32px);

        &:focus {
            outline: 2px solid var(--ds-border-focused);
        }

        padding: rem(5.5px) rem(8px) rem(6.5px) rem(12px)
    }

    .svg-container {
        @include svg-container;
        color: var(--accent-icon);
    }
}

.group-preview-shrunken {
    justify-content: start;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: inherit;
    padding: rem(8px) rem(4px);
    overflow: hidden;
    writing-mode: vertical-lr;
    cursor: pointer;
    height: max-content;

    background-color: var(--accent-background);
    color: var(--accent-text);
    border-radius: $group-border-radius;

    &:hover {
        color: var(--accent-text-bolder);
        background-color: var(--accent-background-hovered);
    }

    h2 {
        display: flex;
        align-items: center;
        color: var(--accent-text-bolder);
        font-size: rem(14px);
        height: max-content;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: rem(4px);
    }

    h4 {
        display: flex;
        align-items: center;
        padding: rem(4px) 0 rem(8px);
        color: var(--accent-text);
        font-weight: 400;
    }

    button {
        @include reg-btn;
        padding: rem(4px);


        .svg-container {
            @include svg-container(24px, 24px)
        }
    }
}