.change-back-container {

    & .head-img-card-container {
        width: 50%;
        padding: 0 rem(4px) 0 rem(4px);
        text-align: center;
    }

    & .img-card {
        position: relative;
        height: rem(96px);
        width: rem(149.5px);
        background-color: var(--accent-background);

        &:hover {
            cursor: pointer;
            background-color: var(--accent-background-hovered);
        }

        border-radius: rem(8px);

        & img {
            height: rem(96px);
            width: rem(149.5px);
            object-fit: cover;
            border-radius: rem(8px);

            &:hover {
                opacity: 0.6;
            }


        }

        & span {
            position: absolute;
            top: rem(38px);
            right: rem(64.75px);

            & svg {
                color: #6C798E;
            }
        }
    }

    & .img-container {
        // display: grid;
        // grid-template-rows: rem(56px) 1fr rem(32px);
        gap: 8px;
        padding: 0 rem(4px) 0 rem(4px);
        // height: calc(100% - 100px);
        height: calc(100vh - 48px - 58px);


        & footer {
            & a {
                color: blue($color: #000000) !important;
            }
        }

        & input {
            width: 100%;
            border: 2px solid rgba(9, 30, 66, 0.137254902);
            border-radius: 2px;
            padding: 6px 12px;
            line-height: 20px;
            margin-block: rem(12px) rem(4px);


            &:focus {
                outline: none !important;
                border-color: #719ECE;
            }
        }

        & .images {
            // flex-grow: 1;
            gap: 8px;
            scrollbar-width: thin;
            margin-inline-end: -12px;
            overflow-y: auto;
            // height: 300px;
            // height: 100%;

        }
    }
}